
@font-face {
    font-family: 'Gotham_A';
    src: url("../fonts/SpoqaHanSansNeo_OTF_original/Gotham-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham_A';
    src: url("../fonts/SpoqaHanSansNeo_OTF_original/Gotham-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham_A';
    src: url("../fonts/SpoqaHanSansNeo_OTF_original/Gotham-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}



